$gray: #F2F2F2;
$borderColor: #BDBDBD;

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
}

.ir {
    position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.container {
    background-color: $gray;
    width: auto;
    height: auto;
    text-align: center;
    border: 2px solid $borderColor;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 91px 0 135px;
    .title {
        font-size: 2.4rem;
        font-weight: 700;
        padding: 41px 216px 37px;
        margin: 0 205px;
        border-bottom: 2px solid $borderColor;
    }
}


.menu_list {
    padding: 28px 0;
    .menu {
        font-size: 1.6rem;
        color: #828282;
        display: inline-block;
        padding: 0 30px;
        .menu-btn {
            background-color: $gray;
            &:focus {
                font-weight: 900;
                color: #000000;
            }
        }
    }
}

.movie-list {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 28px 31px 29px;
    padding: 26px 27px 30px;
    border: 2px solid $borderColor;
    border-radius: 15px;
    display: grid;
    gap: 23px 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .movie {
        overflow: hidden;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 19px 20px 0;
        .movie-img {
            width: 100%;
            height: 250px;
        }
        .movie-title {
            font-size: 1.6rem;
            font-weight: 900;
            padding-top: 11px;
            text-align: left;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // overflow: hidden;
        }
        .movie-info {
            display: grid;
            gap: 5px;
            font-size: 1.3rem;
            line-height: 1.9rem;
            color: #828282;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            padding: 12px 0 18px;
            strong {
                margin-left: 5px;
                color: #000000;
            }
            .movie-genre {
                text-align: left;
            }
            .movie-score {
                text-align: right;
                .star {
                    height: 14px;
                    width: 14px;
                    line-height: 1.9rem;
                    display: inline-block;
                    vertical-align: -1px;
                }
                strong {
                    vertical-align: 1px;
                    margin-left: 0;
                }
            }
            .movie-open,
            .movie-actor {
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: left;
            }
        }
        .buttons {
            display: flex;
            margin: 0 -20px;
            color: #000000;
            .play {
                width: 16px;
                vertical-align: -3px;
            }
            button {
                box-sizing: border-box;
                display: block;
                width: 50%;
                background-color: $gray;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2.0rem;
                text-align: center;
                border-top: 1px solid $borderColor;
                padding: 9px 0 12px;
            }
            button+button {
                border-left: 1px solid $borderColor;
            }
        }
    }
}

footer {
    background-color: $gray;
    width: 100%;
    box-sizing: border-box;
    padding: 53px 365px 38px;
    .social {
        border-bottom: 1px solid #c4c4c4;
        overflow: hidden;
        .footer-title {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 2.6rem;
            padding-bottom: 42px;
            float: left;
        }
        .social-media {
            float: right;
            a+a {
                margin-left: 23px;
            }
        }
    }
    .company-info {
        padding: 36px 0 38px;
        font-size: 1.4rem;
        line-height: 2.0rem;
        color: #4f4f4f;
        li {
            display: inline-block;
            strong {
                color: #000000;
            }
        }
        li+li::before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            background-color: #4f4f4f;
            margin-right: 6px;
            margin-left: 2px;
            vertical-align: -2px;
        }
    }
}